<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Plots</title>
</head>
<body>
    <h1>Search Movies</h1>
    <form action="/search" method="post">
        keyword: <input name="keyword" value="{{keyword}}" autofocus onfocus="this.select();" />
        <input type="submit" value="Search">
    </form>

    {% if hits %} {{hits}} movies found {% endif %}
    {% if movies %}
    <table border="1">
        <tr>
            <td>Title</td>
            <td>Release Year</td>
            <td>Cast</td>
            <td>Plot</td>
            <td>More like this</td>
        </tr>
        {% for movie in movies %}
            <tr>
                <td><a href="{{movie["_source"]["wikiPage"]}}">{{ movie["_source"]["title"] }}</a></td>
                <td>{{ movie["_source"]["releaseYear"] }}</td>
                <td>{{ movie["_source"]["cast"] }}</td>
                <td>{{ movie["_source"]["plot"] }}</td>
                <td><a href="/morelikethis?id={{ movie["_id"]}}&keyword={{keyword}}">more like this</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>